/accounts-api/target/ 
/accounts-api/target

/accounts-api/project-initdata.yml
/accounts-api/nb-configuration.xml
/mysql-datadir
m2
/env/.envaccounts
/env/.envmysql
/env/.envapi
/env/.envmailserver
/accounts-api/nbproject/
secrets
/certs/*.crt
/certs/*.key
cert.tar
/nginx-certs/
/nginx-logs/
